ul{
  list-style-type:none;
  margin:0;
  padding:0;
  background-color:sage green;
}
li{
 display: block;
  float:left;
}
li a, .dropbtn{
  display:inline-block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
  background-color:#red;
}
.active {
  background-color:pink;
}
.dropDown{
position:relative;
  display:inline-block;
  cursor:pointer;
}
.dropDown-content{
  display:none;
  position:absoulte;
  z-index:1;
}
.dropDown:hover .dropDown-content{
  display:block;
}

