body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: #fab66b;
}

p {
    color: navy;
}

a {
    text-decoration: none;
}
/*background color extends across the page so, we have commented it out for now*/ 
figcaption {
    color: navy;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.sale {
    font-weight: bold;
}

#sidenote {
    background-color: #dbd9d9;
} 
